  
body {
    width:100%;
    height:100%;
}

.set_font_size{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    font-size:30px;
}

/*When your screen as less to 768px*/
@media screen and (max-width: 768px) {
    .set_font_size{
        font-size:14px;
    }
}