<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Climate Change Dashboard</title>

  <!--Boot Strap-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
  
   <!-- Leaflet CSS -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="" />

    <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css?version=1">

</head>

<body style='background-color:black;'>

  <div class="container-fluid " style='background-color:white;'>
    <!--row 1-->
    <div class="row ml-5 mr-5 ">
      <div class="col-xs-10 col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 text-left" style='background-color:rgb(179, 178, 178);font-family:Times;'>
        <p class="pt-3 mb-0 font-italic set_font_size">Interactive climate Change Dashboard</p> 
      </div>
      <div class="col-xs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-left pr-0" style='background-color:rgb(179, 178, 178);'>
        <div class="pt-4">
          <a href="#!" class="btn btn-primary active p-1 w-75  d-flex float-right float-bottom" style="line-height:1px;height:70px;" ><input class="w-100"  alt="Responsive image" type="image" src="static\Image\worldMap_button.png" /></a>
        </div>       
      </div>
    </div>
    <!--row 2-->
    <div class="row row ml-5 mr-5">
      <div class="col-2  border border-dark border-right-0 rounded-lg">        
        <div class="mt-4" style="font-weight:bold;">
          <h5 style="font-weight:bold;font-size:16px;">Select A Country</h5>
          <select id="selDataset" style="font-weight:bold;"></select>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 mt-5 p-0">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title" style="font-weight:bold;font-size:16px;">Demographic Info</h3>
                </div>
                <div id="sample-metadata" class="panel-body font-weight-bolder"></div>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="col-10 p-0 border border-dark rounded-lg">
        <div id="map"></div>
      </div>      
  </div>

   <!-- D3 JavaScript -->
   <script src="https://d3js.org/d3.v5.min.js"></script>
   <!--Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Data file-->
  <!-- <script src="static/data/samples.json"></script>   -->
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!--Our javaScript file-->
  <script src="static/js/launch.js"></script>
  <script src="static/js/map.js"></script>
  
  
</body>

</html>